.center {
    text-align: center;
}
.right {
    text-align: right;
}
.search-bar {
    border-radius: 18px;
}
.logo {
    width: 300px;
}
#advanced-search-button {
    background-color: blue;
    color: white;
    padding: 5px;
}