{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Create a new listing</h1>

    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="description" placeholder="Description">
        <input type="number" name="starting_bid" placeholder="Starting bid">
        <input type="text" name="image" placeholder="Image url">
        <select name="category">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.value }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Create">
    </form>
{% endblock %}