{% extends "network/layout.html" %}

{% load static %}

{% block body %}

    <!-- NEW POST -->
    {% if user.is_authenticated %}
    <div id="new-post-section">
        <h3>New post:</h3>
        <form id="new-post-form" action="{% url 'posts' %}" method="post">
            {% csrf_token %}
            <div style="text-align:center;">
                <textarea name="text" rows="4" cols="50"></textarea>
            </div>
            <div style="text-align:center;">
                <input type="submit" value="Post">
            </div>
        </form>
    </div>
    {% endif %}

    <!-- FEED -->
    <h3>Feed:</h3>
    <div id="posts">
    </div>

    {% block script %}
        <script src="{% static 'network/index.js' %}"></script>
    {% endblock %}

{% endblock %}