{% extends "network/layout.html" %}

{% load static %}

{% block body %}



    <!-- NEW POST -->
    {% if user.is_authenticated %}
    <div style="display:none" id="new-post-section">
        <h1>New post</h1>
        <form id="new-post-form" method="post">
            {% csrf_token %}
            <div style="text-align:center;">
                <textarea id="new-post-text" name="new-post-text" rows="4" cols="50"></textarea>
            </div>
            <div style="text-align:center;">
                <input id="new-post-submit" type="submit" value="Post">
            </div>
        </form>
    </div>
    {% endif %}



    <!-- VIEW POSTS -->
    <div style="display:none" id="posts-section">
        <h1 id="posts-heading"></h1>
        <div id="posts-posts">
        </div>
    </div>
    
    <button style="display:none" id="follow-button">Follow</button>



    <!-- VIEW POST -->
    <div style="display:none" id="post-section">
        <h1 id="post-author"></h1>
        <p id="post-text"></p>
        <h3>Likes:</h3>
        <p id="post-likes"></p>
        <h3>Comments:</h3>
        <div id="post-comments"></div>
        {% if user.is_authenticated %}
        <div id="post-comment">
            <form id="post-comment-form" method="post">
                {% csrf_token %}
            <div style="text-align:center;">
                <textarea name="comment-text" rows="4" cols="50"></textarea>
            </div>
            <div style="text-align:center;">
                <input type="submit" value="Comment">
            </div>
            </form>
        </div>
        <button id="like-button">Like</button>
        <button id="view-profile-button">View profile</button>
        <button style="display:none" id="edit-post-button">Edit</button>
        <div style="display:none" id="edit-post-section">
            <form id="edit-post-form" method="post">
                {% csrf_token %}
            <div style="text-align:center;">
                <!-- <input type="text" id="edit-post-text" name="edit-post-text"> -->
                <textarea id="edit-post-text" name="edit-post-text" rows="4" cols="50"></textarea>
            </div>
            <div style="text-align:center;">
                <input id="edit-post-submit" type="submit" value="Edit post">
            </div>
            </form>
        </div>
        {% endif %}
    </div>
    
    {% endblock %}
    


    {% block script %}
    <script>
        const auth_user_id = {{ user.id }}
    </script>
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}
